@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@600&family=Playfair+Display:ital@1&display=swap");

body {
  font-family: "Oswald", sans-serif;
  line-height: 1.25em;
  font-size: 18px;
  letter-spacing: 0.05em;
  box-sizing: border-box;
  margin: 10%;
  color: white;

  /* Purple/Red+Blue */
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #89253e,
    #3a6186
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #89253e,
    #3a6186
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
}

.navbar > ul {
  list-style-type: none;
}

.navbar > ul > li > a {
  text-decoration: none;
}

.navbar > ul > li > a:active,
.navbar > ul > li > a:hover {
  text-decoration: none;
  color: black;
  font-size: larger;
}

/* Typefaces */
h1 {
  font-weight: 700;
}

h2 {
  font-weight: 300;
  /* font-style: italic; */
}

h3 {
  font-weight: 500;
  color: #333;
}

h4 {
  font-weight: 400;
  color: grey;
}

h5 {
  font-weight: 300;
  color: darkgrey;
}

h6 {
  font-weight: 200;
  color: lightgray;
}
