@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Oswald", sans-serif;
  line-height: 1.25em;
  font-size: 18px;
}

:root {
  --color: red;
  --primary-color: rgba(123, 37, 44, 0.7);
  --size: 121px;
  --base-font-size: 16px;
  --large-font-size: 1.85em;
  --number-of-columns: 4;
  --golden-ratio: 1.618;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
  color: #222;
}

h3 {
  font-weight: 500;
  color: #333;
}

h4 {
  font-weight: 400;
  color: grey;
}

h5 {
  font-weight: 300;
  color: darkgrey;
}

h6 {
  font-weight: 200;
  color: lightgray;
}
