body {
  font-family: "Courier New", Courier, monospace;
  /* line-height: 1.25em; */
  font-size: 18px;
}

h1 {
  --font-size: 2em;
}

h2 {
  --font-size: 2em;
  color: darkgrey;
}

h3 {
  color: grey
}

:root {
  --color: red;
  --primary-color: rgba(123, 37, 44, 0.7);
  --size: 121px;
  --base-font-size: 16px;
  --large-font-size: 1.85em;
  --number-of-columns: 4;
  --golden-ratio: 1.618;
}
4