@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Oswald:wght@300;500&family=Playfair+Display:wght@400;800&display=swap");

:root {
  --color-background: #111;
  --color-foreground: white;
  --color-dark: red;
  --color-light: blue;
  --color-md-light: #888;
  --color-md-dark: black;
  --color-primary: rgba(88, 80, 236);
  --color-primary2: rgba(90, 103, 216);
  --color-info: yellow;
  --color-success: indigo;
  --color-danger: darkred;
  --color-warning: brown;
  --color-lightest: #999;
  --color-secondary: #222;
  --color-footer: #777;
  --font-h1: "Playfair Display", serif;
  --font-h2: "Oswald", sans-serif;
  --font-h3: "Inter", sans-serif;
  --font-h4: "Playfair Display", serif;
  --font-h5: "Oswald", sans-serif;
  --font-h6: "Inter", sans-serif;
  --font-p: "Oswald", sans-serif;
  --font-forms: Arial, Helvetica, sans-serif;
}

html {
  /* box-shadow: inset 0px 0px 100px 10px var(--color-background); */
  /* box-shadow: inset 0px 0px 100px 10px var(--color-md-dark); */
}

body {
  font-size: 18px;
  color: var(--color-foreground);
  padding: 10% 10% 0% 10%;
  background: var(--color-background);
}

.upper-block {
  background: var(--color-md-dark);
  position: fixed;
  top: -2%;
  height: 10.5%;
  width: 105%;
  left: -5%;
  overflow-x: hidden;
  overflow-y: hidden;
  opacity: 90%;
}

/* Logo */
.logo {
  position: fixed;
  top: -1.5%;
  left: 2.5%;
  cursor: pointer;
  letter-spacing: 0.05em;
}

.logo:hover {
  -webkit-animation: spin 5s infinite;
  animation: spin 5s infinite;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

@keyframes spin {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

.title {
  font-weight: 800;
  font-size: 4em;
}

/* Navbar */
.navbar {
  top: 1.25%;
  position: fixed;
  width: 80%;
}

.navbar > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.navbar > ul > li > a {
  font-family: var(--font-p);
  text-decoration: none;
  color: var(--color-foreground);
  padding: 8px 15px;
  border: 1px solid var(--color-md-dark);
  border-radius: 10%;
}

.navbar > ul > li > a:active,
.navbar > ul > li > a:hover {
  text-decoration: none;
  color: var(--color-md-dark);
  background-color: var(--color-foreground);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 20%;
  left: 0%;
}

.sidebar > ul {
  list-style-type: none;
}

.sidebar > ul > li {
  padding-bottom: 20px;
}

.sidebar > ul > li > a {
  font-family: var(--font-h6);
  text-decoration: none;
  color: var(--color-foreground);
  padding: 8px 12px;
  border: 1px hidden var(--color-background);
  border-radius: 10%;
}

.sidebar > ul > li > a:active,
.sidebar > ul > li > a:hover {
  text-decoration: none;
  color: var(--color-md-dark);
  background-color: var(--color-foreground);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Dividers */
.hr-primary {
  border: 1px solid var(--color-md-light);
  width: 100%;
}

.hr-secondary {
  border: 1px solid var(--color-secondary);
  width: 100%;
}

/* Spacer Tabs */
.tab {
  display: inline-block;
  margin-left: 200px;
}

.tab2 {
  display: inline-block;
  margin-left: 150px;
}

.heading-helper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

/* Typefaces */
h1 {
  font-family: var(--font-h1);
  font-size: 2.5em;
}

h2 {
  font-family: var(--font-h2);
  font-size: 2em;
}

h3 {
  font-family: var(--font-h3);
  font-size: 2em;
}

h4 {
  font-family: var(--font-h4);
  font-size: 1.5em;
  font-weight: 400;
  color: grey;
}

h5 {
  font-family: var(--font-h5);
  font-weight: 300;
  font-size: 1.5em;
  color: darkgrey;
}

h6 {
  font-family: var(--font-h6);
  font-size: 1.5em;
  color: grey;
}

p {
  font-family: var(--font-p);
  font-weight: 100;
  color: var(--color-foreground);
  font-size: 1em;
}

#typography > #typography-helper > h1,
#typography > #typography-helper > h2,
#typography > #typography-helper > h3 {
  margin-bottom: -0.5em;
}

#typography > #typography-helper > h4,
#typography > #typography-helper > h5,
#typography > #typography-helper > h6 {
  margin-bottom: -0.1em;
}

/* Buttons */
button {
  background-color: var(--color-background);
  /* background-color: var(--color-primary); */
  color: var(--color-foreground);
  border: 2px solid var(--color-primary);
  /* border: none; */
  border-radius: 8%;
  padding: 1em;
  font-weight: 400;
  font-size: larger;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-primary2);
  cursor: pointer;
}

/* Cards */
.card {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-bottom: 8em;
  background-color: #151320;
  box-shadow: 0 0 4px 2px rgba(99, 98, 98, 0.398);
}

.card > img {
  width: 15%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: contain;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card > h2 {
  font-family: var(--font-h2);
  font-size: 2em;
  margin-left: 2em;
  display: block;
  color: var(--color-foreground);
}

.card > p {
  font-family: var(--font-p);
  font-size: 1em;
  margin-left: 1.8em;
  display: block;
  color: var(--color-foreground);
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  color: var(--color-foreground);
  background-color: var(--color-background);
  border: 2px solid var(--color-primary);
  border-radius: 2%/8%;
  padding: 1em 15em 1em 1em;
  cursor: pointer;
  font-family: var(--font-forms);
  font-size: 12px;
}

form > label > textarea {
  padding: 1em 50em 10em 1em;
  border-radius: 2%/8%;
}

/* Checkbox */

/* Upload */
#upload > form > input {
  display: flex;
}

/* Footer */
.page-footer {
  position: relative;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-left: 10%;
}

.page-footer > ul {
  list-style-type: none;
  letter-spacing: none;
  display: flex;
  flex-direction: column;
  margin: 0px 100px;
}

.page-footer > ul > li > a,
.page-footer > ul > li > p {
  text-decoration: none;
  color: var(--color-footer);
}

.page-footer > ul > li > a:active,
.page-footer > ul > li > a:hover {
  text-decoration: none;
  color: var(--color-primary);
  cursor: pointer;
}
